*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
input {
	height: 30px;
	width: 300px;
	border: none;
}
img {
	float: left;
	margin:15px;
	padding: 3px;
}
 .box {
 	
 	margin-top: 20px;
 	margin-right: 350px;
 	border:2px solid black;
 	background-color: white;
 	float: left;
 }
 .icon {
 	margin-left: 100px;
 	margin-top:6px;
 }
 header {
 	background-color: blue;
 	height:55px;
 }
 .search {
 	margin:0;
 }
 .pro {
 	padding:3px;
 	background: white;
 	border-radius: 5px;
 }
 .container {
 	margin: auto;
 	margin-top: 30px;
 	margin-bottom: 30px;
 	height: 620px;
 	width:700px;
 	position: relative;
 	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.36);
 }
 .info {
 	margin-top: 10px;
 }
 .top {
 	margin:5px;
 	margin-left: 15px;
 	padding:5px;
 }
 .head {
 	float: left;
 	margin-top: 18px;
 	margin-right: 395px;
 	font-size: 12px;
 	font-weight: lighter;
 }
 .follow {
 	margin-top:20px;
 	height: 42px;
 	background-color: #ffffff;
 	border: none;
 }
 .des {
 	margin-top: 0px;
 	margin-left:20px;
 	float: none;
 	position:absolute;
 }
 .con {
 	height: 300px;
 	width: 700px;
 	margin:0;
 	padding: 3px;
 	margin-top: 75px;
 	float: none;
 }
 .like {
 	margin: 3px;
 	margin-left: 15px;
 }
 .comment {
 	margin-top: 14px;
 	color: #666666;
 }
 .rule {
 	margin-top: 3px;
 	margin-left: 18px;
 	width: 95%;
 }
 .icos {
 	float: left;
 	height: 55px
 	;background-color: blue;
 	border: none;
 }
 button:hover {
 	background-color: orange;
 	cursor: pointer;
 }
 .likes {
 	margin-top:0;
 	height: 60px;
 	background-color: #ffffff;
 	border: none;
 }
 .li {
 	margin-top: 60px;
 	border: 1px solid transparent;
 }
 .comm {
 	margin-top: 30px;
 	color: #666666;
 }